body{
	background-color:#ffffff:
}

div#pagebody{
	margin: 0 auto;
	width:1000px;
	text-align:left;
	background-color:#ffffff;
}

div#header{
	margin: 0 auto;
	height:80px;
	width:1000px;
	background-color:#66ffff;
}

h1{padding:10px}
h1 a {text-decoration:none;}
h1 a:link{color:#0000ff;}
h1 a:visited{color:#0000ff;}

div#mainbody{
	margin: 0 auto;
	width:1000px;
}

div#maincolumn{
	float:left;
	width:700px;
	background-color:#FFFFCC;
}

div#rightcolumn{
	float:left;
	width:300px;
	background-color:#D0D0D0;
}