body{
	background-color:#ffffff:
}

div#pagebody{
	margin: 0 auto;
	width:1200px;
	text-align:left;
	background-color:#000000;
}

div#header{
	margin: 0 auto;
	height:80px;
	width:1100px;
	background-color:#ffffff;
}

h1{padding:10px}
h1 a {text-decoration:none;}
h1 a:link{color:#0000ff;}
h1 a:visited{color:#0000ff;}

div#mainbody{
	margin: 0 auto;
	width:1100px;
}

div#leftcolumn{
	float:left;
	width:200px;
	background-color:#ff0000;
}

div#maincolumn{
	float:left;
	width:600px;
	background-color:#00ff00;
}

div#rightcolumn{
	float:left;
	width:300px;
	background-color:#0000ff;
}